/* Importing selected fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

/* Enabling CSS @media Rule to make both desktop and mobile version in same file */
@media screen {
}

/* Using rem for better element scaling. 20px = 1 rem */
html {
    font-size: 20px;
    scroll-behavior: smooth; 
}


/* Mobile version */
/* Styling header elements */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    height: 3.5rem;
    transform: translateY(7rem);
}


header nav {
    width: 100%;
    display: none;
}


.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 4rem;
}


.hamburger {
    display: block;
    width: 6.25rem;
    height: 4rem;
    width: auto;
}


header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 5rem;
    transform: translateY(3rem);
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    color: #583A3E;
}


header hr {
    display: block;
    width: 90%;
    border: 0.075rem solid #724c51;
}



/* Styling body elements */ 

body {
    background-image: linear-gradient(#FFFFFF, #F7DDAD, #FFD88F);
}


.flex-column {
    display: flex;
    flex-flow: column nowrap;
    margin: 20rem 2rem 0 2rem;
    gap: 3rem;
    max-width: 50rem;
}


.intro-text-1 {
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    color: #583A3E;
    max-width: 30rem;
    line-height: 2.2rem;
    align-self: flex-start;
}


.intro-text-2 {
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    text-align: start;
    color: #583A3E;
    max-width: 30rem;
    line-height: 2.2rem;
    align-self: flex-end;
}


.body-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 55rem;
    width: 90%;
    margin: 10rem 8rem 4rem 10rem;
}


.flex-reverse {
    flex-direction: row-reverse;
    max-width: 55rem;

}


.body-page img {
    width: 22rem;
    height: auto;
}


.link-text {
    font-size: 2.5rem;
    font-family: 'Barlow', sans-serif;
    color: #583A3E;
    width: auto;
    align-self: center;
    align-content: center;
    margin: 2rem auto;
    line-height: 3.2rem;
}


.link-text:hover {
    color: #301b1b;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    transition: color 3s;
}


.image-our-teas {
    border-radius: 2.5rem 2.5rem;
    width: 22rem;
    height: 27rem;
    display: block;
}


.image-brewing-techniques {
    border-radius: 2.5rem 2.5rem;
    width: 25rem;
    height: 29rem;
    display: block;
}


.image-our-history {
    border-radius: 2.5rem 2.5rem;
    width: 24rem;
    height: 35rem;
    display: block;
}


.image-tours-tastings {
    border-radius: 2.5rem 2.5rem;
    width: 27rem;
    height: 27rem;
    display: block;
}


.image-retailers {
    border-radius: 2.5rem 2.5rem;
    width: 27rem;
    height: 27rem;
    display: block;
}

.whitespace {
    padding: 7rem;
}


/* Styling footer elements */

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#583A3E;
 } 

 
footer .footer-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem; 
    margin-top: 5rem;
    line-height: 1.5rem;
}


footer .some-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}


footer .footer-text1 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 2rem;
}


footer .footer-text2 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 0.9rem;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 13rem;
    padding-bottom: 6rem;
}


footer .footer-nav {
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}


footer .footer-nav li:hover {
    color: white;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}



/* Desktop version */
/* Using CSS @media Rule to hide/show elements when screen is more than 700px wide */

@media screen and (min-width: 700px) { 
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 8rem; /* Høyde fra toppen av nettleseren */
    }


    .logo {
        display: block;
        transform: translateY(3rem);
    }


    header nav {
        display: block; /* block betyr at den vises i desktop, men ikke mobil */
        transform: translateY(-0.5rem);
    }


    header hr {
        display: block;
    }


    .hamburger {
        display: none; /* none betyr at den ikke vises i dekstop, men på mobil */
    }


    .footer-text {
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
        color: #FFFFFF;
    }


    .intro-text-2 {
        text-align: end;
    }


    .flex-column {
        margin: 20rem auto 0 auto;
    }
}